<!--    <footer id="footer" role="contentinfo">-->
<!--        <p id="footer__text">Copyright 2023-2026 &copy; by Sefinek. All Rights Reserved.</p>-->
<!--    </footer>-->

    <script src="/js/mobile.js" defer></script>
</body>
</html>