    <video autoplay muted loop>
        <source src="/video/technology-min.mp4" type="video/mp4">
        Your browser does not support the video element.
    </video>

    <footer>
        🎶 <a href="https://www.youtube.com/watch?v=uX88O9OQB2A" target="_blank" rel="noopener">Videotape 800% Slower</a> |
        💙 <a href="https://videezy.com" target="_blank" rel="noopener">Video by Videezy.com</a>
    </footer>

    <script src="/js/music.js"></script>
</body>
</html>